.hero {
  &-content {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;

    &-heading {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 648px;
      margin-top: 96px;

      &-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.025em;
        color: $neutral900;
      }

      &-details {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: $neutral700;
      }

      &-ctas {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 16px;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 56px;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          padding: 16px 24px;
          border-radius: 8px;
        }

        &-left {
          background-color: $primary600;
          color: #fff;
        }

        &-right {
          color: $primary600;

          img {
            margin-right: 10px;
          }
        }
      }
    }

    &-mockup {
      img {
        padding-left: 84px;
        padding-right: 84px;
      }
    }
  }
}

.logo-clouds {
  height: 142px;
  .container {
    padding-top: 16px;
    padding-bottom: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-divider {
    width: 100%;
    height: 1px;
    background-color: $neutral200;
  }
  &-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    img {
    }
  }
}

.features {
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.025em;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    color: $neutral900;
  }
  &-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    color: $neutral900;
    margin-top: 8px;
  }
  &-items {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &-item {
      width: calc(33.3% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      &:nth-child(n + 4) {
        margin-top: 34px;
      }
      &-icon {
      }
      &-content {
        margin-top: 24px;
        text-align: center;
        &-headline {
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          color: $neutral900;
        }
        &-description {
          margin-top: 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $neutral700;
        }
      }
    }
  }
}

.testimonial {
  background-color: $secondary100;
 @include mq("large") {
    // padding-top: 120px;
    // padding-left: 216px;
  }
  .container {
    padding-top: 48px;
    padding-bottom: 48px;
    @include mq("tablet") {
      padding-top: 64px;
      padding-bottom: 80px;
    }
    @include mq('desktop') { 
    }
    @include mq("large") {
      padding-top: 64px;
      padding-bottom: unset;
    }
    position: relative;
  }
  &-icon {
    position: absolute;
    z-index: 1;
    left:12px;
    width: 96px;
    height: 78px;
    @include mq("tablet") {
      left:24px;
      width: 141px;
      height: 116px;
    }
    @include mq("large") {
      left:0px;
      width: unset;
      height: unset;
      
    }
  }
  &-heading {
    color: $neutral900;
    width: 100%;
    margin-top:32px;
    @include mq("tablet") {
      margin-top:56px;
    }
    @include mq("large") {
      width: 488px;
      position: absolute;
    }
    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      z-index: 2;
      position: relative;
      @include mq("tablet") {
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.025em;
      }
      @include mq("large") {
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.025em;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-top: 8px;
      @include mq("tablet") {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
      @include mq("large") {
        margin-top: unset;
      }
    }
  }
  &-items {
    margin-top: 32px;
    @include mq("tablet") {
      display: flex;
      flex-direction: column;
      margin-top:40px;
    }
    @include mq("large") {
      display: flex;
      flex-direction: row;
      gap: 32px;
      padding-left: 104px;
      padding-top: 92px;
      padding-bottom: 96px;
    }
    &-right {
      @include mq("large") {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
      .testimonial-item {
        margin-top: 24px;
        @include mq("tablet") {
          margin-top: 24px;
        }
        @include mq('large') { 
         margin-top:unset;
        }
        &:nth-child(1) {
          width: 100%;
          @include mq("large") {
            width: 488px;
          }
        }
        &:nth-child(2) {
          width: 100%;
          @include mq("large") {
            width: 384px;
          }
        }
      }
    }
  }
  &-item {
    width: 100%;
    display: inline-block;
    height: fit-content;
    padding: 32px;
    background-color: #fff;
    border-radius: 8px;
    @include mq("large") {
      margin-top: 136px;
      width: 384px;
    }
    &-logo {
    }
    &-content {
      display: flex;
      margin-top: 32px;
      &-mark {
        img {
          width: 16px;
          height: 13px;
        }
      }
      &-feedback {
        margin-left: 16px;
        &-text {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: $neutral900;
        }
        &-person {
          margin-top: 24px;
          &-name {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            color: $neutral900;
          }
          &-company {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $neutral500;
          }
        }
      }
    }
  }
}
