@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
html {
  font-family: $font-family;
}

.container {
  width: 100%;
  padding: 40px 20px;

  @include mq("tablet") {
    padding: 64px 40px;
  }

  @include mq("desktop") {
    margin: 0 auto;
  }
  @include mq("large") {
    width: $container;
  }
}

.hero {
  background: url("/images//background.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 860px;
}
