$font-family: "Inter", sans-serif;
$container: 1200px;
$neutral900: #111827;
$neutral700: #374151;
$neutral500: #6b7280;
$neutral300: #d1d5db;
$neutral200: #e5e7eb;
$primary600: #7c3aed;
$secondary100: #d5fafc;
$black: #000;
